* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

body {
    background-color: #232741;
    background-position: 50% 50%;
    background-size: 20%;
    background-repeat:no-repeat;
}

/* Nav */ 

header {
    background: #0440407c;
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding: 15px 10%;
    margin: 60px 5% 20px 5%;
    border-radius: 15px;
}

nav a {
    font-weight: 600;
    padding: 0px 20px;
    color: white;
    text-decoration: none;

}

nav a:hover {
    color: #D92525;
    background-color: #086363;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
}

#nav-1 {
    color: #8C1F28;
}

@media (max-width:600px){
    header{
        padding: 14px 1px 1px 1px;
    }
}

/* Text */

.Perfil {
    width: 250px;
    height: 250px;
    border-radius: 100%;    
}

.Text {
    font-size: 20px;
    background: #0440407c;
    border-radius: 15px;
    color: white;
    width: 90%;
    text-align: center;
    display: block;
    margin: auto;
}

p.author a {
    width: 0px 10px;
    text-align: center;
    list-style: none;
    color: green;
    text-decoration: none;
}