* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #171525;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    background: #353535;
    list-style: none;
    border-radius: 15px;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */

.nav-main {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

/* NAV LEFT */

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Text */

.Text {
    font-size: 20px;
    background: #353535;
    border-radius: 15px;
    color: white;
    display: block;
    align-items: center;
    padding: 10px 0;
}