* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #171525;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
    
}

ul {
    background: #353535;
    list-style: none;
    border-radius: 15px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    display: block;
    text-align: center;
}

/* Navigation */

.nav-main {
    font-size: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
}

/* Text */

.Text {
    font-size: 20px;
    background: #353535;
    border-radius: 15px;
    color: white;
    width: 90%;
    text-align: center;
    display: block;
    margin: auto;
}

.Perfil {
    width: 300px;
    height: 300px;
    border-radius: 100%;    
}

p.author {
    text-align: left;
}